name: CI
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  build:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v5

      - name: Setup docker buildx as a default builder
        run: docker buildx install
        shell: bash

      - name: Build local image
        run: docker build -f Dockerfile -t ghcr.io/beatlabs/bake:latest .
        shell: bash

      - name: Bake CI
        run: ./bake.sh ci
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Codecov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true # optional (default = false)
          files: ./coverage.txt
          name: codecov-umbrella # optional 
          token: ${{ secrets.CODECOV_TOKEN }} # required

      - name: Upload container logs
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: docker-logs
          retention-days: 2
          path: .bake-container-logs
